<h1>New restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: %w(chinese italian japanese french belgian), as: :radio_buttons %>
  <%= f.submit "New restaurant", class: "btn btn-primary" %>
<% end %>

