<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<br>
<%= link_to "back", root_path  %>
<br>
<%= link_to "see all reviews", restaurant_reviews_path(@restaurant)  %>
<br>
<%= link_to "write a review", new_restaurant_review_path(@restaurant) %>

